/* Header.css */

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: inherit;
  }
  
  .pagination button {
    padding: 13px;
    margin: 5px;
    border: none;
    background-color: #c17c06;
    color: #010101;
    cursor: pointer;
    border-radius: 100px;
    
  }
  
  .pagination button.active {
    background-color: #ffffff;
  }
  